<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, viewport-fit=cover">

    
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="<%= SERVER_URL %>/api/icon/favicon.ico<%= `?v=${Date.now()}` %>"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="<%= SERVER_URL %>/api/css/public/landing.public.css<%= `?v=${Date.now()}` %>"
    />

    <!-- DEPENDENCIES -->
    <script type="text/javascript" src="<%= SERVER_URL %>/api/js/phaser.min.js<%= `?v=${Date.now()}` %>"></script>
    
    <!-- GAME -->
    <script type="text/javascript" src="<%= SERVER_URL %>/api/js/game.public.js<%= `?v=${Date.now()}` %>"></script>
    
    <title><%= title %></title>
  </head>

  <body>
    <div id="game-container"></div>
  </body>
</html> 
